*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    resize: none;
}

giftstore{
     display: flex;
     flex-direction: column;
     
}

storename{
    font-size: 30px;
    display: flex;
    margin-bottom: 5px;
    
}

giftcard_type,price,number_of_users,location,discount_vouchers,validity,gift_message,available_quantity,number_of_cards_used
{
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    
}
price::before{
    content: "Price: ";
    font-weight: bold;

}
number_of_users::before{
    content: "Number of users: ";
    font-weight: bold;
}

location::before{
    content: "Location: ";
    font-weight: bold;
}
discount_vouchers::before{
    content: "Discount Voucher: ";
    font-weight: bold;
}
validity::before{
    content: "Validity: ";
    font-weight: bold;
}
from::before{
    content: "From: ";
    font-weight: bold;
}
to::before{
    content: "To: ";
    font-weight: bold;
}

gift_message::before{
    content: "Message: ";
    font-weight: bold;

}
valid_countries::before{
    content: "Countries: ";
    font-weight: bold;

}
available_quantity::before{
    content: "Available Quantity: ";
    font-weight: bold;
}
number_of_cards_used::before{
    content: "Number of cards: ";
    font-weight: bold;
}
giftcardList,footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


name
{
    margin-top: 80px;
    margin-left: 450px;
    font-style: italic;
    font-size: 50px;
}

logo{
    border-style:dashed;
    border:5px;
    border-color:pink;
    margin: 3px 10px;
    height: 200px;
    width: 10%;
    background-repeat: no-repeat;
}


giftCardImage{
    height: 150px;
    width: 400px;
    margin-left: 21px;
    background-repeat: no-repeat;
    
}

#g1{
    background-image:url(shesaidyes.png);
    background-repeat: no-repeat;
    background-position: center;
}
#g2{
    background-image:url("mother's day.jpg");
    background-repeat: no-repeat;
    background-position: center;
}  
#g3{
    background-image:url("funnylovecard.jpg");
    background-repeat: no-repeat;
    background-position: center;
}   
#g4{
    background-image:url("Screen Shot 2022-05-04 at 12.35.17 AM.png");
    background-repeat: no-repeat;
    background-position: center;
}   
#g5{
    background-image:url("Screen Shot 2022-04-29 at 9.05.24 AM.png");
    background-repeat: no-repeat;
    background-position: center;
}   

#g6{
    background-image:url("Screen Shot 2022-04-29 at 9.17.11 AM.png");
    background-repeat: no-repeat;
    background-position: center;
}  
#g7{
    background-image:url("happyanniversary2_800x.png");
    background-repeat: no-repeat;
    background-position: center;
}  

#g8{
    background-image:url("happy-fathers-day.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#g9{
    background-image:url("xoxo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}        
#p1{

    background-image:url("rose1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


storedetails{
     background-color:pink;
     width: 100%;
     font-family: Times New Roman;
     margin-bottom: 5px;
  
}
address,ul{
    padding: 5px 0px;
    font-family: 'Times New Roman';
    font-size: 1.25rem;
    margin-top: 3px;
    
    text-align: center;
    width: 480px;
    background-color: pink;
}
/* city,state,city,street,post_code,product{
    display: flexbox;
    text-align: center;   
    font-family: 'Times New Roman';
} */
contact{
    
     width: 480px;
     text-align: center;
     padding: 5px 0px;
     font-family: 'Times New Roman';
     font-size: 1.25rem;
     background-color: pink;
     margin-top: 3px;
     
}

#gl1
{
    background-color: #D3D3D3;
}

#gl2
{
    background-color: #D3D3D3;
}

#gl3
{
    background-color: #D3D3D3;
}
giftcard
{
    padding: 23px;
    display:flex;
    flex-direction: column;
    margin-left: 2px;
    border-right: 5px;
    border-color: white;
    border-style: groove;
    
}
#b1,#b2, #b3, #b4, #b5, #b6, #b7,#b8, #b9{
    background-color: #FF3F6C;
    width: 100%;
    height: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 30px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}